<h1>Browser</h1>
<form action="/" method="GET">
  <input type="text" class="search" name="search" placeholder="Search..." value="{{search}}">
  <input type="number" name="from" class="difficulty" placeholder="Difficulty from..." value="{{from}}">
  <span>-</span>
  <input type="number" name="to" class="difficulty" placeholder="Difficulty to..." value="{{to}}">
  <input type="submit" value="search">
</form>

<div class="cube-list">
{{#each cubes}}
  {{> cube}}
{{else}}
  <h2>No cubes in database.<br><a style="color: blue;" href="/products/create">Create the first one.</a></h2>
{{/each}}
</div>

<script type="module" src="/js/app.js"></script>